#What we're hiding, never push virtual environments, secrets, local artifacts
# Virtual environment
venv/

#Visuals 
visuals/

# Python cache
__pycache__/
*.pyc

# Environment variables / secrets
.env

# OS junk
.DS_Store

# Logs / temporary files
*.log

# Visual Files
*.jpg
*.jpeg
*.png

#State FIP codes
fips_all.txt
